*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile{
  border:1px solid gray;
  border-radius: 0.4em;
 
}
.avatar{
  border-radius: 50px;
}

.fancy{
  font-family: 'Georgia';
}
.title{
  color: darkslategrey;
  text-decoration: underline;
}
.quote{
  font-weight: bold;
}

/* Weather app */
.weather-app-container{
  width: fit-content;
  border-radius: 5px;
  background-color: lightblue;
  padding: 1em
}
.weather-app-container > *{
  margin: 1em;
}
.weather-container{
  display: flex;
  align-items: center;
  column-gap: 0.3em;
}
 
.temperature{
  font-size: 2.2em;
  font-weight: 700;
}
 

/*  */